body{
	/* font-family: 'Open Sans Condensed', sans-serif; */
	font-size:14px; 
	color:#ddd;
    background: url(../images/backgrounds/body.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
}
a,a:hover,a:focus{
	color:#fff;
	text-decoration:none;
}
label{
	margin-bottom: 0px;
    color: #dcdcdc;
    text-align: right;
    padding-top: 6px;
}
label span{
	color:#e41919;
}
input[type=text],input[type=password],input[type=date],input[type=number],textarea{
	width: 100%;
    height: 37px;
    padding: 5px 10px;
    border: 1px solid #444;
	outline:none;
	border-radius:5px;
	background:rgba(0,0,0,0.7);
	color:#fff;
}
textarea{
	height:auto;
}
input:focus{
	border-color:#5d6b25;
}
input[type=checkbox]{
	height:auto;
}
img{
	width:100%;
}
.btn{
	background: rgba(0,0,0,0.7);
    border: 1px solid #444;
    color: #fff;
    height: 37px;
    padding: 8px 15px;
    border-radius: 5px;
    min-width: 100px;
	outline:none;
	cursor:pointer;
	font-size:14px;
}
.btn:hover,.btn:focus{
	background-color: #111;
	outline:none;
	box-shadow:none !important;
}
.btn .fa{
	font-size: 11px;
}
.btn-sm{
	min-width: auto;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
}
.btn-bk{
	min-width: auto;
    height: 23px;
    padding: 0px 10px;
    margin-top: -4px;
}
.body-content{
	margin-top:10px;
}
.box{
	background: rgba(62, 62, 62, 0.71);
    border-radius: 5px;
    padding: 15px;
	display: inline-block;
    width: 100%;

}
.box .table th{
	padding: 5px 10px 8px;
}
.select2{
	width:100% !important;
}
.select2-container--default .select2-selection--single{
	background-color: #0f1010;
    border: 1px solid #3e3e3e;
	border-radius: 5px;
	height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    line-height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    right: 3px;
}
.select2-dropdown{
	background-color: #3e3e3e;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd;
    color: #333;
}
.select2-search__field{
	height: 24px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	background-color: #3e3e3e;
	padding: 0px 5px 3px;
}
.select2-container--default .select2-selection--multiple{
	min-height: 37px;
	background-color: #0f1010;
    border: 1px solid #3e3e3e;
}
.modal-header{
	display:block;
	color:#000;
}
.modal-dialog {
    max-width: 70%;
}
.modal-content.box{
	background: rgba(62, 62, 62, 0.95);
}
.nav-tabs {
    border: 1px solid #3e3e3e;
    margin-bottom: 10px;
}
.nav-tabs .nav-link {
	border:0px;
    border-right: 1px solid #3e3e3e;
    border-radius: 0px;
    padding: 10px 25px 12px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #161616;
     border-color: #3e3e3e;
	border-radius: 0px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #3e3e3e;
    border-radius: 0px;
}
.nav-tabs .nav-item {
    margin-bottom: 0px;
}
.va_form_error .close{
	font-size:16px;
}
.assign-lbl{
	margin:20px 0px;
}
.assign-lbl input[type=checkbox]{
	float: left;
    margin-top: 5px;
    margin-right: 5px;
}
input[type=radio]{
	float: left;
    margin-top: 5px;
    margin-right: 5px;
}
.rcount{
	position: absolute;
    top: 48%;
    font-size: 22px;
    left: 0px;
    text-align: center;
    right: 0px;
}
/* Custom Bootsrap Class Starts*/
.text-danger {
    color: #ff6f6b!important;
}
.hide{
	display:none !important;
}
/* Custom Bootsrap Class Ends*/

/* Login Page Starts */
.login-section{
	position: absolute;
    right: 100px;
    top: 25%;
    height: 300px;
    background-color: #444;
	opacity:0.9;
    width: 320px;
    text-align: center;
    padding: 30px 15px;
	border-radius:5px;
}
.login-section img{
	height:50px;
	max-width:100%;
	margin-bottom:10px;
}
.login-section input{
	width: 100%;
    margin-top: 15px;
    height: 37px;
    padding: 5px 10px;
    border: 1px solid #444;
	outline:none;
	border-radius:5px;
}
.login-section input:focus{
	border-color:#bde226;
}
.login-section button{
	margin-top: 20px;
    background-color: #000;
    border: 1px solid #444;
    color: #fff;
    height: 40px;
    padding: 9px 15px;
    border-radius: 5px;
    min-width: 100px;
	outline:none;
	cursor:pointer;
}
.login-section button:hover{
	background-color: #111;
}
.login-section .text-danger{
	text-align:left;
}
/* Login Page Ends */

/* Header Starts */
header nav.top{
	background-color: #161616;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
}
header .logo{
	display: inline-block;
    padding: 10px 0px;
}
header .logo img{
	height:40px;
}
header nav.top ul.ls{
	float:right;
	list-style:none;
	margin:0px;
}
header nav.top ul.ls>li{
	float:left;
	margin-left:15px;
}
header nav.top ul.ls>li>a{
	padding:10px;
	display:inline-block;
	position:relative;
}
header nav.top ul.ls li a img{
	height:40px;
	width: 40px;
	border-radius:5px;
}
header nav.top a .fa{
	width:20px;
	text-align:center;
}
header .fa-bell{
	font-size: 24px;
    margin-top: 7px;
}
header span.count{
	position: absolute;
    top: 5px;
    left: 22px;
    background-color: #b5de04;
    padding: 0px 4px;
    border-radius: 5px;
}
header .nav{
	margin-top: 60px;
    background-color: #3e3e3e;
}
.header-menu>li>a {
    border: 1px solid #4a4a4a;
    border-right: none;
    display: block;
    line-height: 1;
    padding: 13px 35px 15px;
    color: #fff;
    background-color: #3e3e3e;
    text-decoration: none;
    font-size: 14px;
}
.header-menu>li {
    display: block;
    float: left;
}
.header-menu {
    list-style: none;
    padding-left: 0px;
}
header .dropdown-menu {
    padding: 4px 0px;
	background-color: #4f5154;
    margin: 0px;
	min-width: 200px;
    animation: 0.8s ease-out 0s 1 slideDown;
}
header .dropdown-menu>li>a {
    color: #fff;
    font-size: 14px;
    padding: 5px 12px;
	width: 100%;
    display: inline-block;
}
.header-menu>.active>a, .header-menu>li>a:hover {
    background-color: #161616;
    color: #dfdfdf;
}
header .dropdown-menu>li>a:hover {
    background-color: #3e3e3e;
    color: #fff;
}
.header-menu>li:last-child>a {
    border-right: 1px solid #4a4a4a;
}
.uname{
	color: #b5de04;
    padding: 5px 10px;
    border-bottom: 1px solid #444;
    font-weight: bold;
}
header ul.nt{
	max-width:350px;
	padding: 0px;
	border: 1px solid #848383;
}
header ul.nt li{
	padding: 5px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: -5px;
	color: #fff;
}
header ul.nt li img{
	width: 50px;
    height: 50px;
    float: left;
    margin-right: 8px;
	border-radius:5px;
} 
header ul.nt .content .time{
	font-size: 11px;
    margin-top: 2px;
	color: #ddd;
}
header ul.nt .content{
	float: left;
    width: 280px;
    line-height: 16px;
    font-size: 14px;
    color: #fff;
    margin-top: -3px;
}
/* Header Ends */

.page-title{
	color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin: 18px 0px;
}
.page-actions{
	margin: 12px 0px;
}
.table{
	border: 4px solid #3e3e3e;
}
.table td{
	padding: 5px 10px;
	color:#fff;
	border: 1px solid #3e3e3e;
	background: rgba(43, 43, 43, 0.52);
	vertical-align:middle;
}
.table th {
	padding: 8px 10px 11px;
	color:#fff;
	border: 1px solid #3e3e3e;
    border-bottom: 0px !important;
    background-color: rgba(62, 62, 62, 0.79);
}
.checkbox{
	display:inline-block;
	padding-top: 5px;
	margin-right:10px;
}
.checkbox input{
	height: 15px;
    width: 15px;
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.preview_img{
	width:150px;
	height:150px;
	display:block;
	border-radius:5px;
}
/* Custom Css Starts */
.mt-5{margin-top:5px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-30{margin-top:30px !important;}
.mt-40{margin-top:40px !important;}
.mb-0{margin-bottom:0px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !Important;}
.mb-15{margin-bottom:15px !Important;}
.mb-20{margin-bottom:20px !important;}
/* Custom Css Ends */

/* Course Starts */
.c-box{
	background: rgb(62, 62, 62);
	/* border: 1px solid #101417; */
	border: 1px solid #4a4a4a;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center;
}
.c-box .title {
    text-align: center;
    border-bottom: 1px solid #5d5d5d;
    font-size: 16px;
    line-height: 35px;
}
.c-box .sub-title {
    text-align: center;
    color: #bbb;
}
.c-box img{
	width: 100%;
    height: 170px;
}
.c-box .sb {
    display: inline-block;
    text-align: center;
    margin-top: 7px;
    margin-right: 3px;
    color: #fff;
    border-radius: 3px;
    padding: 1px 10px 2px;
    border: 1px solid #5d5d5d;
}
.box.sidebar ul{
	list-style-type:none;
	padding:0px;
}
.box.sidebar{
	padding:0px;
}
.box.sidebar li:first-child{
	font-size: 18px;
    border-bottom: 1px solid #3a3a3a;
    background-color: #3a3a3a;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.box.sidebar li{
	padding:5px 10px;
}
.box.sidebar li input{
	height: 15px;
    width: 15px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}
.sb .dropdown-menu {
    background-color: #202325;
	padding:5px 0px;
}
.sb .dropdown-menu a{
    font-size: 14px;
    padding: 5px 10px;
}
.form-sidebar > ul {
    padding-left: 0px;
    list-style: none;
}
.form-sidebar > ul > li {
    display: block;
}
.form-sidebar > ul > li.section > a {
	background-color: #616161;
    border-bottom: 0px;
    margin-top: -1px;
}
.form-sidebar > ul > li > a {
    padding: 10px 13px;
    color: #fff;
    background-color: #3e3e3e;
    display: block;
    width: 100%;
    text-decoration: none !Important;
    border-bottom: 1px solid #4a4a4a;
}
.form-sidebar > ul > li:first-child > a {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.form-sidebar > ul > li:last-child > a {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.form-sidebar > ul > li > a i {
    font-size: 17px;
    margin-right: 5px;
    width: 20px;
    text-align: center;
}
.form-sidebar > ul > .active > a {
    color: #fff;
    background-color: #161616;
}
.view .form-sidebar > ul > .active > a {
     background-color: #7c9800;
}
.view img.thumbnail{
	width:100%;
	height:170px;
}
.view .features{
	margin:0px;
}
.view .features li{
	margin-bottom:5px;	
}
.view .tab-content{
	padding:5px 10px;
}
.view .contents .head{
	font-size:16px;
}
.view .contents ol li{
	margin-bottom:5px;
}
.question{
	margin-bottom:10px;
	position:relative;
}
.question ul{
	list-style-type:upper-alpha;
	margin-bottom:0px;
}
.question li{
	padding-left: 20px;
	display:inline-block;
	width:100%;
	position:relative;
}
.question li input{
	float: left;
    margin-left: -18px;
    margin-top: 6px;
}
.question li textarea{
	float:left;
}
.question .fa-times{
	position: absolute;
    right: -16px;
    top: 2px;
	cursor:pointer;	
	color: #d64d22;
}
.question .q_remove{
	position: absolute;
    right: 0px;
    top: 0px;
	cursor:pointer;	
	background-color: #d64d22;
	color:#fff;
	padding: 2px 10px 4px;
    border-top-right-radius: 5px;

}
.qt ol>li .qname{
	margin-bottom:10px;
}
.qt ul{
	list-style:none;
	padding-left:10px;
}
/* Course Ends */







